@font-face {
  font-family: News Cycle;
    src: url('../fonts/NewsCycle-Regular.eot');
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf');
}

html
{ min-height: 100%;
}

*
{ margin: 0;
  padding: 0; 
}
   
body
{ font: normal 80% Arial, Helvetica, sans-serif;
  color: #FFF;
/*  text-shadow: 1px 1px #000;*/
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
}

article, aside, figure, footer, header, hgroup, nav, section {
  display:block;
}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav
{ margin-left: auto;
  margin-right: auto;
}

footer
{ width: 940px;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

footer a, footer a:hover
{ text-decoration: none;
  padding-bottom: 20px;
  color: #FFF;
  text-shadow: 1px 1px #000;}

footer a:hover
{ text-decoration: underline;}
  
h1, h2, h3, h4, h5, h6
{ font: normal 250% 'News Cycle', Arial, sans-serif;
  color: #FFF;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
}

h2
{ font-size: 165%;
padding: 10px;
text-align: center;
}

h3
{ font-size: 130%;
font-weight: bolder;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font-size: 150%;
  line-height: 1.5em;
}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}

a, a:hover
{ color: #000;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

span
{ color: #676767;
  text-shadow: 1px 1px #FFF;
}

.caption{
	display: block;
	font: normal Arial, Helvetica, sans-serif;
	color: #FFF;
	text-shadow: 1px 1px #000;
}

div.iconGrid {
	width: 940px;
	height: auto;
	padding: 10px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border: 7px 7px 7px 7px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

div.iconContainer {
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.iconClass {
	width: 128px !important;
    height: 128px !important;
}

img.iconClass {
	align-content: center;
}
img.iconClass:hover {
	opacity: 0.8;
	filter: alpha(opacity=100);
}

